In [1]:
%load_ext sql

In [2]:
#postgresql://user:pass@host/database
%sql postgresql://admin:secret@localhost/sparkifydb

In [3]:
%sql SELECT * FROM songplays LIMIT 5;

 * postgresql://admin:***@localhost/sparkifydb
0 rows affected.

[]

In [4]:
%sql SELECT * FROM users LIMIT 5;

 * postgresql://admin:***@localhost/sparkifydb
0 rows affected.

[]

In [5]:
%sql SELECT * FROM songs LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('SOINLJW12A8C13314C', 'City Slickers', 'AR8IEZO1187B99055E', 2008, Decimal('149.86404'))]

In [6]:
%sql SELECT * FROM artists LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
1 rows affected.

[('AR8IEZO1187B99055E', 'Marc Shaiman', '', None, None)]

In [7]:
%sql SELECT * FROM time LIMIT 5;

 * postgresql://student:***@127.0.0.1/sparkifydb
5 rows affected.

[(datetime.time(0, 0, 57, 796000), 0, 29, 48, 11, 2018, 3),
 (datetime.time(0, 1, 30, 796000), 0, 29, 48, 11, 2018, 3),
 (datetime.time(0, 4, 1, 796000), 0, 29, 48, 11, 2018, 3),
 (datetime.time(0, 4, 55, 796000), 0, 29, 48, 11, 2018, 3),
 (datetime.time(0, 7, 13, 796000), 0, 29, 48, 11, 2018, 3)]

## REMEMBER: Restart this notebook to close connection to `sparkifydb`
Each time you run the cells above, remember to restart this notebook to close the connection to your database. Otherwise, you won't be able to run your code in `create_tables.py`, `etl.py`, or `etl.ipynb` files since you can't make multiple connections to the same database (in this case, sparkifydb).